<div role="dialog" aria-modal="true" class="fade modal show" tabindex="-1" style="display: block;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title h4">Удалить канал</div>
        <button type="button" aria-label="Close" data-bs-dismiss="modal" class="btn btn-close"></button>
      </div>
      <div class="modal-body">
        <p class="lead">Уверены?</p>
        <div class="d-flex justify-content-end">
          <button type="button" class="me-2 btn btn-secondary">Отменить</button>
          <button type="button" class="btn btn-danger">Удалить</button>
        </div>
      </div>
    </div>
  </div>
</div>